html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  margin: 0 0 12vh 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
  }
}

.card {
  width: 95%;
  max-width: 500px;
  margin: 1rem auto;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.168);
  padding: 1rem;
  display: flex;
  opacity: 1;
  flex-direction: column;
  transition: all 0.3s;
}

.header {
  width: 100%;
  margin-top: 0;
  border-radius: 0 0 8px 8px;
}

.card[hide] {
  display: none;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  border: 1px var(--secondary-color) solid;
  background: var(--secondary-color);
  border-radius: 8px;
  color: black;
  padding: 1.25rem 0.5rem;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  user-select: none;
  -webkit-user-select: none;
}

.item span {
  word-wrap: break-word;
}

.item div + span {
  width: 60%;
  margin: 0 auto;
}

.item[priority] {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

.item small {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.item:hover {
  cursor: pointer;
}

.item:last-child {
  margin-bottom: 0;
}

.deleting {
  color: grey !important;
  background-color: lightgray !important;
  border-color: lightgray !important;
}

listo-list ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.list-of-lists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid var(--secondary-color);
  user-select: none;
  cursor: pointer;
}

.title h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input + label,
form input + span,
form textarea + span {
  margin-top: 1rem;
}

form label,
form span {
  margin-bottom: 0.3rem;
}

form input,
form select {
  height: 45px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  outline: none;
  margin: 0;
  min-width: 50px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  form input {
    background-color: var(--secondary-color);
    color: white;
  }
}

form textarea {
  height: 10vh;
  min-height: 80px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

form input + button,
form textarea + button,
form input + input,
form select + input,
form input + label,
form select + label {
  margin-top: 1rem;
}

button {
  border: 1px solid var(--highlight-color);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  height: 60px;
  color: white;
  background-color: var(--highlight-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

button[active] {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button[active]:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button:hover {
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
}

form:invalid button {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button.delete {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  height: 40px;
}
