<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listo</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/variables.css">
    <script type="importmap">
      {
        "imports": {
          "lit": "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js",
          "rxjs": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs@7.8.1/+esm",
          "@tronicboy/rxjs-operators": "https://cdn.jsdelivr.net/npm/@tronicboy/rxjs-operators@0.0.3/+esm"
        }
      }
    </script>
    {% block head %} {% endblock head %}
  </head>
  <body>
    {% block content %} {% endblock content %} {% block scripts %} {% endblock scripts %}
  </body>
</html>
