{% extends "base.html" %} {% block content %}
<ul class="list-of-lists" id="list-of-lists">
  {% for list in lists %} {{ list | safe }} {% endfor %}
</ul>

{% if families | length > 0 %}
<listo-new-list class="card">
  <form autocomplete="off">
    {% if families | length > 1 %}
    <label for="family-id">List Family</label>
    <select name="family-id" id="family-id">
      {% for family in families %}
      <option value="{{ family.family_id }}">{{ family.family_name }}</option>
      {% endfor %}
    </select>
    {% else %}
    <input type="hidden" name="family-id" value="{{ families[0].family_id }}" />
    {% endif %}
    <label for="list-name">List Name</label>
    <input id="list-name" name="list-name" minlength="1" type="text" maxlength="33" required />
    <button id="add" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0, 0, 48, 48">
        <path d="M22.5 38V25.5H10V22.5H22.5V10H25.5V22.5H38V25.5H25.5V38Z" />
      </svg>
    </button>
  </form>
</listo-new-list>
{% endif %}

{% include "components/navbar.html" %} {% endblock content %} {% block scripts %}
<script defer type="module" src="/assets/js/listo-list.js"></script>
<script defer type="module" src="/assets/js/listo-new-list.js"></script>
{% endblock scripts %}
