{% extends "base.html" %} {% block content %}
<listo-lists-manager>
  <ul class="list-of-lists" id="list-of-lists">
    {% for list in lists %} {{ list | safe }} {% endfor %}
  </ul>
</listo-lists-manager>

{% if families | length > 0 %}
<listo-new-list>
  <form class="card" slot="form" autocomplete="off">
    {% if families | length > 1 %}
    <label for="family-id">{{ fluent(key="list-family", lang=lang) }}</label>
    <select name="family-id" id="family-id">
      {% for family in families %}
      <option value="{{ family.family_id }}">{{ family.family_name }}</option>
      {% endfor %}
    </select>
    {% else %}
    <input type="hidden" name="family-id" value="{{ families[0].family_id }}" />
    {% endif %}
    <label for="list-name">{{ fluent(key="list-name", lang=lang) }}</label>
    <input id="list-name" name="list-name" minlength="1" type="text" maxlength="33" required />
    <button id="add" type="submit" aria-label="Add list">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0, 0, 48, 48">
        <path d="M22.5 38V25.5H10V22.5H22.5V10H25.5V22.5H38V25.5H25.5V38Z" />
      </svg>
    </button>
  </form>
  <template shadowrootmode="open">
    <link rel="stylesheet" href="/assets/css/listo-new-list.css" />
    <div id="open-add-list" slot="open-button">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0, 0, 48, 48">
        <path d="M22.5 38V25.5H10V22.5H22.5V10H25.5V22.5H38V25.5H25.5V38Z" />
      </svg>
    </div>
  </template>
</listo-new-list>
{% endif %} {% include "components/navbar.html" %} {% endblock content %} {% block scripts %}
<script defer type="module" src="/assets/js/listo-list.js"></script>
<script defer type="module" src="/assets/js/listo-new-list.js"></script>
<script async type="module" src="/assets/js/build/listo-lists-manager.mjs"></script>
{% endblock scripts %}
