{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/registrations.css" />
<script src="https://www.google.com/recaptcha/api.js?render=6LcuLlsgAAAAADL_n_1hS7zeQMKX6xbi10jQYIYR"></script>
{% endblock head %} {% block content %}
<div class="card header">
  <h1>{{ fluent(key="login-header", lang=lang) }}</h1>
  <p>{{ fluent(key="login-header-subtext", lang=lang) }}</p>
</div>
<div class="card">
  <listo-registration mode="login">
    <div class="button-group">
      <button class="button-left button inactive" id="login-button">
        {{ fluent(key="listo-registration-login-button", lang=lang) }}
      </button>
      <button class="button button-middle" id="register-button">
        {{ fluent(key="listo-registration-register-button", lang=lang) }}
      </button>
    </div>
    <div class="button-group">
      <button class="button button-left" id="webauthn-button">
        {{ fluent(key="listo-registration-webauthn-button", lang=lang) }}
      </button>
      <button class="button button-right" id="webauthn-new-button">
        {{ fluent(key="listo-registration-webauthn-new-button", lang=lang) }}
      </button>
    </div>

    <form class="login-form" id="login-form">
      <div class="form-group">
        <label for="email">{{ fluent(key="listo-registration-login-form-email-label", lang=lang) }}</label>
        <input id="email" name="email" type="email" required autocomplete="email" />
      </div>
      <div class="form-group">
        <label for="password">{{ fluent(key="listo-registration-login-form-password-label", lang=lang) }}</label>
        <input id="password" name="password" type="password" required autocomplete="current-password" />
      </div>
      <button id="submit" type="submit">
        {{ fluent(key="listo-registration-login-form-submit-label", lang=lang) }}
      </button>
    </form>
  </listo-registration>
</div>
{% endblock content %} {% block scripts %}
<script type="module" src="/assets/js/listo-registration.js"></script>
{% endblock scripts %}
